.pokecard__container{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}
.poke__parrafo{
    margin-bottom: 1em;
    text-align: center;
}

.poke__span{
    color:#FE1936 ;
}
.poke__form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.poke__input{
    border: 1px solid rgba(0, 0, 0, 0.149);
    padding: .5em;
}

.poke__btn{
    color: #FFFFFF;
    padding: .5em;
    background: #D93F3F;
}
   